.App {
  text-align: center;
}
.login-btn {
  margin-top: 40px;
}

body {
  background-color: #f5f5f5;
}

header {
  background-color: #e3f2fd;
  display: flex;
  justify-content: space-between;
  padding: 5px 11%;
  align-items: center;
}
.notes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 3%;
  grid-row-gap: 20px;
}
.main {
  padding: 0 11%;
}

@media only screen and (max-width: 900px){
  .notes {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 600px){
  .notes {
    grid-template-columns: 1fr;
  }
}

.new-note {
  width: 31%;
}

#del {
  position: absolute;
  bottom: 0;
  right: 0;
}

#dismiss-btn {
  position: absolute;
  right: 0;
  font-size: 1.5rem;
  right: 5px;
}